---
import SingleProject from './SingleProject.astro';

import projects from '../data/projects.json'
---

<div class="space-y-4">
  {projects.map(project => (
    <SingleProject 
      title={project.title} 
      numContributors={project.num_contributors}
      description={project.description} 
      githubLink={project.github_link} 
      slug={project.slug}
      activeLink={project.active_link}
      categories={project.categories}
    />
  ))}
</div>