---
import { Users,Github } from '@lucide/astro';

const {title,numContributors,description,githubLink,slug, activeLink,categories} = Astro.props;

const redirectLink = `/projects/${slug}`
---
<div class="border rounded p-3 md:p-5 m-1 border-white hover:bg-[#30302e]">
  <a href={redirectLink} class="no-underline">
  <div class="flex justify-between">
    <div class="flex justify-between gap-2">
      <div class="text-white md:max-w-full text-xl">{title}</div>
      <div class="flex gap-1 items-center text-white">
        <Users size={20}/>
        {numContributors} 
      </div>
    </div>
<!--     <button class="text-[#c96442] flex px-1 items-center hover:bg-[#c96442] hover:text-white rounded" onclick={`location.href = ${githubLink}`}>
      <div>
        <Github/>
      </div>
    </button>  -->
  </div>
  <div class="text-md text-gray-300 no-underline">
    <div class="flex gap-1 text-sm text-[#c96442] font-bold overflow-hidden text-ellipsis">
      {categories.map((category: string,idx: number) => (
        <div class="text-nowrap">
          {idx == 0 ? category : `| ${category}`}
        </div>
      ))}
    </div>
    <div>
      {description}
    </div>
  </div >

  </a>
</div>
