---
import { Users,Github } from '@lucide/astro';

const {title,num_contributors,description,github_link,slug} = Astro.props;

const activeLink = false
const redirectLink = activeLink ? `/projects/${slug}` : github_link
---

<div class="border p-5">
  <div class="flex justify-between">
    <div class="flex gap-1">
      <a class="text-xl max-w-30 md:max-w-full hover:underline" href={redirectLink}>{title}</a>
      <div class="text-gray-300 flex gap-1">
        <Users/>
        {num_contributors} 
      </div>
    </div>
    <div>
      <a href={github_link}>
        <Github/>
      </a>
    </div>
  </div>
  <div class="text-md text-gray-300">
    {description}
  </div>
</div>