---
import { Users,Github,SquareArrowOutUpRight } from '@lucide/astro';

const {title,numContributors,description,github_link,slug, activeLink,categories,link} = Astro.props;

const redirectLink = `/projects/${slug}`
console.log(link)
console.log(title)
---
<div class="border rounded p-3 my-3 md:p-5 lg:m-1 border-white hover:bg-[#30302e]">
  <a href={redirectLink} class="no-underline">
  <div class="flex justify-between">
    <div class="flex justify-between gap-2">
      <div class="text-white md:max-w-full text-xl">{title}</div>
      <div class="flex gap-1 items-center text-white">
        <Users size={20}/>
        {numContributors} 
      </div>
    </div>
    <div class="flex flex-row gap-2 justify-between items-center hidden md:flex">
      <div class="text-[#c96442]">
        <Github size=20 />
      </div>
      {link && 
        <div class="text-[#c96442]">
          <SquareArrowOutUpRight size=20 />
        </div>
      }
    </div>
  </div>
  <div class="text-md text-gray-300 no-underline">
    <div class="flex gap-1 text-sm text-[#c96442] font-bold overflow-hidden text-ellipsis">
      {categories.map((category: string,idx: number) => (
        <div class="text-nowrap">
          {idx == 0 ? category : `| ${category}`}
        </div>
      ))}
    </div>
    <div>
      {description}
    </div>
  </div >

  </a>
</div>
