---
export const prerender = true;

import Layout from '../../layouts/Layout.astro';
import {Content as FarmIT} from '../../data/projects/farmit.md';
import {Content as BumbaJobs} from '../../data/projects/bumbajobs.md';

import projects from '../../data/projects.json'
import { Users, Github, SquareArrowOutUpRight } from '@lucide/astro';

export async function getStaticPaths() {
  return [
    { params: { id: 'farmit' } },
    { params: { id: 'bumbajobs' } }
  ];
}

const projectsMap = {
  "farmit": FarmIT,
  "bumbajobs": BumbaJobs
};

const { id = '' } = Astro.params;
const ProjectContent = id in projectsMap ? projectsMap[id as keyof typeof projectsMap] : null;

const project = projects.find((project) => project.slug === id);
---

<Layout>
  <div class="flex flex-col md:flex-row justify-between items-center mt-5">
    <div class="flex gap-2">
      <a class="text-white text-3xl font-bold no-underline" href={`/projects/${project?.slug}`}>{project?.title}</a>
      <div class="text-gray-300 flex gap-1 items-center">
        <Users />
        {project?.num_contributors}
      </div>
    </div>
    <div class="flex flex-row gap-2 md:justify-between md:items-center">
      <a href={project?.github_link} class="text-[#c96442]">
        <Github />
      </a>
      {project?.link &&
          <a href={project?.link} class="text-[#c96442]">
            <SquareArrowOutUpRight />
          </a>
      }
    </div>
  </div>
  {ProjectContent ? (
      <article>
        <ProjectContent />
      </article>
  ) : (
      <p>Project not found.</p>
  )}
</Layout>
